<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h1 class="title">Delete Categories</h1>
                    </div>
                    <div class="content">
                        <form [formGroup]="categoryFrom" (ngSubmit)="deleteCategory(id)">
<!--                            <div class="row">-->
<!--                                <div class="col-md-4">-->
<!--                                    <div class="form-group">-->
<!--                                        <label>id</label>-->
<!--                                        <input type="number" class="form-control here" placeholder="id" formControlName="id">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>name</label>
                                        <td><input type="text" class="form-control here" placeholder="name category" value="{{category.name}}" formControlName="name" readonly></td>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-warning btn-fill pull-right" style="margin-left: 10px">Delete</button>
                            <button [routerLink]="['/manager/category']" type="submit" class="btn btn-warning btn-fill pull-right">BackList</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
