<div class="bgr">
    <div class="container">
        <form id="regForm" action="">
        <div class="modal-dialog widget-wrap">
            <div class="modal-content">
                <div class="modal-header">
                    <h3><span class="label label-warning" id="qid">2</span> Name quiz: a</h3>
                </div>
                <div class="modal-body">
                    <div class="quiz" id="quiz">
                        <label class="element-animation1 btn-lg btn-warning btn-block option"><input class="largerCheck" type="checkbox" name="q_answer" value="1">  1 One</label>
                        <label class="element-animation2 btn-lg btn-warning btn-block option"><input class="largerCheck" type="checkbox" name="q_answer" value="2">  2 Two45</label>
                        <label class="element-animation3 btn-lg btn-warning btn-block option"><input class="largerCheck" type="checkbox" name="q_answer" value="3">  3 Three</label>
                        <label class="element-animation3 btn-lg btn-warning btn-block option"><input class="largerCheck" type="checkbox" name="q_answer" value="4">  4 Three</label>

                    </div>
                </div>
            </div>
        </div>
            <button type="button" id="prevBtn" (click)="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" (click)="nextPrev(1)">Next</button>
        </form>
    </div>
</div>

<!--<div class="main-content" >-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--                <div class="card">-->
<!--                    <div class="header">-->
<!--&lt;!&ndash;                        <h1 class="title">Name Test :  {{test.name}}</h1>&ndash;&gt;-->
<!--                        <h1 class="title">Name Test :  Test 1</h1>-->
<!--                    </div>-->
<!--                    <div class="content">-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-3">-->
<!--                                <div class="form-group">-->
<!--                                    <label>Level</label>-->
<!--&lt;!&ndash;                                    <p>{{test.level.name}}</p>&ndash;&gt;-->
<!--                                    <p>Hard</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-3">-->
<!--                                <div class="form-group">-->
<!--                                    <label>Number Of Quizzes</label>-->
<!--&lt;!&ndash;                                    <p>{{test.quizzes.length}}</p>&ndash;&gt;-->
<!--                                    <p>15</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-3">-->
<!--                                <div class="form-group">-->
<!--                                    <label>Pass Score</label>-->
<!--&lt;!&ndash;                                    <p>{{test.passScore}}</p>&ndash;&gt;-->
<!--                                    <p>70</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-3">-->
<!--                                <div class="form-group">-->
<!--                                    <label>Max Time</label>-->
<!--&lt;!&ndash;                                    <p>{{test.maxTime}}</p>&ndash;&gt;-->
<!--                                    <p>00:15:00</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-8">-->
<!--&lt;!&ndash;                                <form id="regForm" action="">&ndash;&gt;-->

<!--                                    <h1>Register:</h1>-->

<!--                                    &lt;!&ndash; One "tab" for each step in the form: &ndash;&gt;-->
<!--                                    <div class="tab"  *ngFor="let quiz of test.quizzes">Name:{{quiz.name}}-->
<!--&lt;!&ndash;                                        <p><input placeholder="First name..." oninput="this.className = ''"></p>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <p><input placeholder="Last name..." oninput="this.className = ''"></p>&ndash;&gt;-->
<!--                                    </div>-->

<!--&lt;!&ndash;                                    <div class="tab">Contact Info:&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                                        <p><input placeholder="E-mail..." oninput="this.className = ''"></p>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                                        <p><input placeholder="Phone..." oninput="this.className = ''"></p>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                        abc1&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                    <div class="tab">Birthday:&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                                        <p><input placeholder="dd" oninput="this.className = ''"></p>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                                        <p><input placeholder="mm" oninput="this.className = ''"></p>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                                        <p><input placeholder="yyyy" oninput="this.className = ''"></p>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                        abc2&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                    <div class="tab">Login Info:&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                                        <p><input placeholder="Username..." oninput="this.className = ''"></p>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                                        <p><input placeholder="Password..." oninput="this.className = ''"></p>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                        abc3&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                    <div style="overflow:auto;">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div style="float:right;">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <button type="button" id="prevBtn" (click)="nextPrev(-1)">Previous</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <button type="button" id="nextBtn" (click)="nextPrev(1)">Next</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->

<!--                                    &lt;!&ndash; Circles which indicates the steps of the form: &ndash;&gt;-->
<!--                                    <div style="text-align:center;margin-top:40px;">-->
<!--                                        <span class="step"></span>-->
<!--                                        <span class="step"></span>-->
<!--                                        <span class="step"></span>-->
<!--                                        <span class="step"></span>-->
<!--                                    </div>-->

<!--&lt;!&ndash;                                </form>&ndash;&gt;-->
<!--                            </div>-->
<!--                            <div class="col-md-4">-->
<!--                                Chỗ này hiển thị đã tích xanh bn câu-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->