<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
<!--                        <h1 class="title">Name Test :  {{test.name}}</h1>-->
                        <h1 class="title">Name Test :  Test 1</h1>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Level</label>
<!--                                    <p>{{test.level.name}}</p>-->
                                    <p>Hard</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Number Of Quizzes</label>
<!--                                    <p>{{test.quizzes.length}}</p>-->
                                    <p>15</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Pass Score</label>
<!--                                    <p>{{test.passScore}}</p>-->
                                    <p>70</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Max Time</label>
<!--                                    <p>{{test.maxTime}}</p>-->
                                    <p>00:15:00</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="container slider-one-active">
                                    <div class="slider-ctr">
                                        <div class="slider">
                                            <form class="slider-form slider-one">
                                                <div class="card" style="box-shadow: none">
                                                    <div class="header">
                                                        <h1 class="title">Quiz 1</h1>
                                                    </div>
                                                    <div class="content">
                                                        <div class="label-ctr">
                                                            <label class="radio">
                                                                <input type="radio" value="happy" name="condition">
                                                                <div class="emot happy">
                                                                    <div class="mouth sad"></div>
                                                                </div>
                                                            </label>
                                                            <label class="radio">
                                                                <input type="radio" value="happy" name="condition">
                                                                <div class="emot happy">
                                                                    <div class="mouth smile"></div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <button class="first next">Next Step</button>
                                                    </div>
                                                </div>
                                            </form>
                                            <form class="slider-form slider-two">
                                                <div class="card" style="box-shadow: none">
                                                    <div class="header">
                                                        <h1 class="title">Quiz 2</h1>
                                                    </div>
                                                    <div class="content">
                                                        <div class="label-ctr">
                                                            <label class="radio">
                                                                <input type="radio" value="happy" name="condition">
                                                                <div class="emot happy">
                                                                    <div class="mouth sad"></div>
                                                                </div>
                                                            </label>
                                                            <label class="radio">
                                                                <input type="radio" value="happy" name="condition">
                                                                <div class="emot happy">
                                                                    <div class="mouth smile"></div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <button class="second next">Next Step</button>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="slider-form slider-three">
                                                <h2>Are you happy with our service?</h2>
                                                <div class="label-ctr">
                                                    <label class="radio">
                                                        <input type="radio" value="happy" name="condition">
                                                        <div class="emot happy">
                                                            <div class="mouth sad"></div>
                                                        </div>
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" value="happy" name="condition">
                                                        <div class="emot happy">
                                                            <div class="mouth smile"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                                <!--                <button class="second next">Next Step</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                Chỗ này hiển thị đã tích xanh bn câu
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>