
<div class="wrapper">
    <div class="sidebar" data-color="orange" data-image="">
<!--        <app-sidebar></app-sidebar>-->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    <div class="logo-img">
                        <img src="/assets/img/qua-quizz.png"/>
                    </div>
                    Quar Quizz
                </a>
            </div>
            <ul class="nav responsive-nav">
                <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                    <a  [routerLink]="[menuItem.path]">
                        <i class="{{menuItem.icon}}"></i>
                        <p>{{menuItem.title}}</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-background" style="background-image: url(assets/img/sidebar-6.jpg)"></div>
    </div>

    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <router-outlet></router-outlet>
        <div *ngIf="isMap('maps')">
            <footer-cmp></footer-cmp>
        </div>
    </div>

</div>
