<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form [formGroup]="quizForm" (ngSubmit)="submit()">
                        <div class="header">
                            <h1 class="title">Create New Quiz</h1>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>What do you want to ask?</label>
                                        <textarea formControlName="name" placeholder="Quiz" class="form-control here"
                                                  id="" cols="30" rows="2"></textarea>

                                    </div>
                                    <div *ngIf="!name?.valid && (name?.dirty || name?.touched)">
                                        <div [hidden]="!name?.errors?.['required']">
                                            <p style="color: orange">Content of quiz is required</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group" formControlName="answer">
                                        <label>Choices of Answer</label>
                                        <tr>
                                            <mat-checkbox><input type="text" class="form-control here answer"
                                                                 placeholder="Answer choice number 1"></mat-checkbox>
                                        </tr>
                                        <br>
                                        <tr>
                                            <mat-checkbox><input type="text" class="form-control here answer"
                                                                 placeholder="Answer choice number 2"></mat-checkbox>
                                        </tr>
                                        <br>
                                        <tr>
                                            <mat-checkbox><input type="text" class="form-control here answer"
                                                                 placeholder="Answer choice number 3"></mat-checkbox>
                                        </tr>
                                        <br>
                                        <tr>
                                            <mat-checkbox><input type="text" class="form-control here answer"
                                                                 placeholder="Answer choice number 4"></mat-checkbox>
                                        </tr>
                                    </div>
                                </div>
                                <div class="col-md-4" style="float: right">
                                    <div class="form-group">
                                        <!--                                        <mat-form-field appearance="fill">-->
                                        <!--                                            <mat-label>Level</mat-label>-->
                                        <!--                                            <mat-select>-->
                                        <!--                                                <mat-option *ngFor="let level of levels" [value]="level.id">-->
                                        <!--                                                    {{level.name}}-->
                                        <!--                                                </mat-option>-->
                                        <!--                                            </mat-select>-->
                                        <!--                                        </mat-form-field>-->
                                        <label>Level</label>
                                        <select class="form-control here" formControlName="level">
                                            <option *ngFor="let level of levels"
                                                    [value]="level.id">{{level.name}}</option>
                                        </select>
                                    </div>
                                    <div *ngIf="!level?.valid && (level?.dirty || level?.touched)">
                                        <div [hidden]="!level?.errors?.['required']">
                                            <p style="color: orange">Level is required</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Category</label>
                                        <section class="example-section">
                                            <span class="example-list-section">
                                                <ul style="list-style: none">
                                                    <li *ngFor="let category of categories, index as i"
                                                        [value]="category.id"
                                                        (click)="choiceCategory(category)">
                                                        <mat-checkbox
                                                                class="example-margin">{{category.name}}</mat-checkbox>
                                                    </li>
                                                </ul>
                                            </span>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <button style="margin-right: 15px; margin-top: 10px" type="submit"
                                    class="btn btn-warning btn-fill pull-right"
                                    [disabled]="!quizForm.valid || !categoriesChoice.length">Create
                            </button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
