<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2 class="title">Create New Test</h2>
                    </div>
                    <div class="content">
                        <form [formGroup]="testForm" (ngSubmit)="submit()">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control here" placeholder="Name test" formControlName="name">
                                    </div>
                                    <div class="form-group">
                                        <label>Level</label>
                                        <select class="form-control here" formControlName="level">
                                            <option *ngFor="let level of levels" [value]="level.id">{{level.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Number Of Quizzes</label>
                                        <input #element type="number" class="form-control here" (change)="inputNOQ(element.valueAsNumber)">
                                    </div>
                                    <div class="form-group">
                                        <label>Pass Score</label>
                                        <input type="number" class="form-control here" placeholder="75" formControlName="passScore">
                                    </div>
                                    <div class="form-group">
                                        <label>Max Time</label>
                                        <input type="time" step="2" class="form-control here" formControlName="maxTime">
                                    </div>
                                    <div class="form-group">
                                        <label>Category</label>
                                        <section class="example-section">
                                            <span class="example-list-section">
                                                <ul style="list-style: none">
                                                    <li *ngFor="let category of categories" [value]="category.id" (click)="choiceCategory(category)">
                                                        <mat-checkbox class="example-margin">{{category.name}}</mat-checkbox>
                                                    </li>
                                                </ul>
                                            </span>
                                        </section>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Quizzes</label>
                                        <div class="content table-responsive table-full-width">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Name</th>
                                                    <th>Level</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let quiz of quizzes; index as i">
                                                    <td>{{i + 1}}</td>
                                                    <td><a (click)="choose(quiz)">{{quiz.name}}</a></td>
                                                    <td>{{quiz.level.name}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Quizzes Choice</label>
                                        <div class="content table-responsive table-full-width">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Name</th>
                                                    <th>Level</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let quiz of quizzesChoice; index as i">
                                                    <td>{{i + 1}}</td>
                                                    <td>{{quiz.name}}</td>
                                                    <td>{{quiz.level.name}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Create</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
