<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <button style="margin-right: 15px; margin-top: 10px" [routerLink]="['/manager/test/list']" class="btn btn-warning btn-fill pull-right">Back to list</button>
                    <div class="header">
                        <h2 class="title">Name Test :  {{test.name}}</h2>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Level</label>
                                    <p>{{test.level.name}}</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Number Of Quizzes</label>
                                    <p>{{test.quizzes.length}}</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Pass Score</label>
                                    <p>{{test.passScore}}</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Max Time</label>
                                    <p>{{test.maxTime}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <mat-accordion>
                                <mat-expansion-panel *ngFor="let quiz of test.quizzes; index as i">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{quiz.name}}<br>
                                            Level: {{quiz.level.name}}
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <p>Type quiz: {{quiz.typeQuizzes.name}}</p>
                                    <p>Answer: {{quiz.answer}}</p>
                                    <p>Correct answer: {{quiz.correct_answer}}</p>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
