<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header" style="float: left">
                        <h1 class="title">TEST DETAIL</h1>
                        <p class="category">This is table of test detail</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>TEST CODE</th>
                                <th>USER NAME</th>
                                <th>NAME TEST</th>
                                <th>TEST TIME</th>
                                <th>TEST LEVEL</th>
                                <th>CATEGORY</th>
                                <th>QUIZ NAME</th>
                                <th>QUIZ LEVEL</th>
                                <th>QUIZZES</th>
                                <th>ANSWER USER</th>
                                <th>PASS SCORE</th>
                                <th>SCORE USER</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let exam of examTestDetail; index as i">
                                <td>{{i + 1}}</td>
                                <td>{{exam.appUser.username}}</td>
                                <td>{{exam.examQuizzes[i].test.name}}</td>
                                <td>{{exam.examQuizzes[i].test.maxTime}}</td>
                                <td>{{exam.examQuizzes[i].test.level.name}}</td>
                                <td>{{exam.examQuizzes[i].test.categories}}</td>
                                <td>{{exam.examQuizzes[i].quiz.name}}</td>
                                <td>{{exam.examQuizzes[i].quiz.level.name}}</td>
                                <td>{{exam.examQuizzes[i].test.quizzes}}</td>
                                <td>{{exam.examQuizzes[i].answerUser}}</td>
                                <td>{{exam.examQuizzes[i].test.passScore}}</td>
                                <td>{{exam.numOfTA}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
